:root {
    --transition-length: 150ms;
}

body {
    --primary-fg: rgb(30, 30, 30);
    --secondary-fg: rgb(50, 50, 50);

    --primary-bg: rgb(255, 255, 255);
    --secondary-bg: rgb(225, 225, 225);
    --tertiary-bg: rgb(200, 200, 200);
    --codeblock-bg: rgb(31, 40, 49);

    --primary-accent: rgb(110, 197, 255);
}

body.dark-mode {
    --primary-fg: rgb(245, 245, 245);
    --secondary-fg: rgb(235, 235, 235);

    --primary-bg: rgb(16, 21, 26);
    --secondary-bg: rgb(25, 33, 41);
    --tertiary-bg: rgb(31, 40, 49);
    --codeblock-bg: rgb(31, 40, 49);

    --primary-accent: rgb(32, 85, 121);
}

body {
    font-family: sans-serif;
    padding: 0px 10px;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}


#main {
    max-width: 50em;
    margin: auto;
    margin-top: 60px;
}

#header {
    float: left;
    max-width: 85%;
    font-size: 24pt;
    margin-bottom: 40px;
}

#search, #night-mode {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 24pt;
    color: var(--secondary-fg);
    float: right;
    margin-right: 10px;
    margin-top: -3px;
}

#search div, #night-mode div {
    transform: rotate(30deg);
}

body.dark-mode #night-mode {
    font-weight: 900;
    color: var(--primary-fg);
}

#content {
    width: 100%;
    overflow: hidden;
}
#content p {
    font-size: 17px;
}


/* LINKS */
a {
  position: relative;
  color: var(--primary-fg);
  text-decoration-color: var(--primary-fg);
  transition: text-decoration-color var(--transition-length);
}
a:hover {
  text-decoration-color: rgba(0,0,0,0);
}

/* IMAGES */
/* Images in content */
#content img {
  display: block;
  margin: 0px auto;
  width: 90%;
  height: auto;
}

/* CODE */
pre {
  background-color: var(--codeblock-bg);
  padding: 18px;
  border: 2px solid var(--tertiary-bg);
  border-radius: 8px;
  font-size: 14px;
}
pre code {
  background: none !important;
  font-size: 100%;
}
code {
  padding: .2em .4em;
  font-size: 90%;
  font-family: monospace;
  background: var(--tertiary-bg);
  border-radius: 3px;
}
